# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=damianos

# Make this the same as your github username/organisation
# IMPORTANT: Change this to your GitHub username before building!
REPO_ORGANIZATION="cdr-2009"

IMAGE_DESC="DamianOS - Custom Universal Blue image inspired by Damian Whitehouse, his best mate Putin, and the colour Papaya Whip (#FFEFD5)."
IMAGE_KEYWORDS="bootc,oci,linux,teacher,education,damian,whitehouse,bluefin"

# Put your own image here for a fancy profile on https://artifacthub.io/!
# After you push the photo to your repo, update this URL
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
